@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

body {
  @apply font-modern min-h-screen;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
  width: 8px;
  background: #18122B;
}
::-webkit-scrollbar-thumb {
  background: #393053;
  border-radius: 8px;
}

.glass-card {
  @apply bg-glass shadow-glass rounded-2xl backdrop-blur-md ;
}

.neon-btn {
  @apply bg-gradient-neon text-white font-bold rounded-xl shadow-neon transition-all duration-200;
}

.neon-btn:hover {
  filter: brightness(1.2) drop-shadow(0 0 8px #7F6AFF);
}

